@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family:sans-serif;
}

/* initial */
header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
}

h1{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 .initials{
    color: white;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;  
    margin-left: 2rem;
}

/* -------------------------------------- */

button{
    background-color: transparent;
    padding: 0.5rem, 0.5rem;
    border: none;
    outline: 0;
    position: fixed;
    width: 4rem;
    height: 4rem;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button span,
button span::after,
button span::before{
    width: 2rem;
    height: 0.2rem;
    background-color: white;
    display: block;
    border-radius: 2rem;
    transition: transform 200ms ease-in-out;
    position: absolute;
}

button span::after,
button span::before{
    content: "";
}

button span::before{
    transform: translateY(-7px);
}

button span::after{
    transform: translateY(7px);
}

/*    WHEN BUTTON IS CLICKED ANIMATION    */
button.active{
    width: 3rem;
    height: 3rem;
}
button span.active{
    background: transparent;
}

button span.active::before{
    transform: rotate(45deg);
    z-index: 500;
}

button span.active::after{
    transform: rotate(-45deg);
    z-index: 500;

}


/* NAV  */ 

nav{
    position: fixed;
    align-items: center;
    top: 0px;
    right: 0px;
    background: rgba(36, 114, 40, 0.5);
    padding: 1.5rem 1.2rem;
    height: 100vh;
    width: 75%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;

}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 80px;
}

nav ul li{
    padding: 2rem 0 3rem 0;
    text-align: center;
}

nav ul li a{
    color: white;
    font-weight: 200px;
    text-decoration: none;
    text-transform: capitalize;

    font-family: 'Josefin Sans', sans-serif;  
}

nav.active{
    transform: translateX(0%);
}

