@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page{
  box-sizing: border-box;
  height: 920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.header{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}


header a{
  text-decoration: none;
  color: white;
}

.header ul{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}


.header ul .icon {
  width: 30px;
}

.header h1{
  align-items: start;
  font-size: 40px;
  font-family: "Quattrocento Sans", serif;
  font-weight: 600;
  color: white;
}

/* .left .emojis{
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  border-radius: 5px;
  padding: 10px;
  color: black;
} */

.main-content{
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 50px;
  margin-bottom: 0px;
  gap: 100px;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
 font-weight: 100;
 line-height: 1.6;
}

.left{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.left h2{
    width: 400px;
    display: flex;
    align-items: start;
  text-align: left;
  font-size: 50px;
}

.left p{
  font-size: 18px;
  text-align: justify;
  width: 400px;
  text-transform: lowercase;
  font-weight: 50;
}

.left .text{
  margin-top: 10px;
}
.right{
  width: 50%;
  box-sizing: border-box;
  padding: 0px;
}

.right .profile-pic{
  width: 400px;
}

footer{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

